pkgbase = cachy-maint-utility
	pkgdesc = Professional system maintenance and update tool for CachyOS and Arch Linux.
	pkgver = 1.0
	pkgrel = 17
	url = https://github.com/bearx0098/cachy-maint-utility
	arch = any
	license = GPL
	depends = bash
	depends = pacman
	depends = pacman-contrib
	depends = paru
	depends = topgrade
	depends = perl
	optdepends = konsole: Default terminal emulator for the desktop entry
	source = cachy-maint
	source = cachy-maint-utility.desktop
	sha256sums = b938bc568ec677e94bcd77b4e31b319f8374a71e7f894c504d967ddcb0068d41
	sha256sums = 431fdab07e1642caa5dd6a8652a5abf2737f2adec21a94aa2b63133147c5e5f0

pkgname = cachy-maint-utility
