pkgbase = cachy-maint-utility
	pkgdesc = A professional system maintenance and update tool for CachyOS. Simply run with cachy-maint
	pkgver = 1.0
	pkgrel = 10
	url = https://github.com
	install = cachy-maint-utility.install
	arch = any
	license = GPL
	depends = bash
	depends = pacman
	depends = paru
	depends = topgrade
	depends = expect
	depends = perl
	depends = konsole
	source = cachy-maint
	source = cachy-maint-utility.desktop
	sha256sums = ef28d3d1b55ceab16c7bbb59ff82c2b270a16d392e8fb7999e9cb5631da2e590
	sha256sums = bfc6319968e83c0b0a2974eec5f94d781024e66b6e172e717204e5c349413176

pkgname = cachy-maint-utility
