[Desktop Entry]
Type=Application
Name=System Maintenance
Comment=Full Update and Cleanup
Exec=/usr/bin/cachy-maint --desktop
Icon=system-software-update
Terminal=true
Categories=System;
